h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#headerBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
    background-color: burlywood;
}

#headerName {
    background-color: darkgray;
    font-size: 1.5rem;
    padding: 5px 10px;
    text-align: center;
}

#headerNav {
    flex-grow: 2;
}

#headerBar ul {
    display: flex;
    justify-content: space-evenly;
}

#headerBar li {
    list-style-type: none;
}

#headerBar a {
    text-decoration: none;
    font-size: 1.25rem;
}

#headerLinks {
    width: 100px;
}

#headerLinks img {
    margin-top: 3.4px;
    width: 25px;
    height: 25px;
}

#headerLinks ul {
    justify-content: center;
}

#headerLinks li {
    margin-right: 10px;
}

.projectContentWrapper {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    width: 600px;
    height: 300px;
    margin-top: 40px;
}

.projectContent p {
    text-align: center;
}

.projectContentLeft {
    float: left;
}

.projectContentLeft h3 {
    margin-left: 19%;
}

.projectContentRight {
    float: right;
    position: relative;
}
.projectContentWrapper.projectContentRight {
    border-right: 0 !important;

}

.projectContentRight::after {
    content: '';
    width: 300px;
    height: 300px;
    /* background-color: black; */
    position: absolute;
    left: 600px;
    top: -1px;
    border-left: 0 !important;
    border: solid black 1px;

}

.projectContentRight h3 {
    margin-right: 19%;
}

.projectContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.projectContentWrapper h3 {
    text-align: center;
}

.projectContentButtons {
    /* align-self: center; */
}

.projectContentButtonsLeft {
    margin-left: 19%;
}

.projectContentButtonsRight {
    margin-right: 19%;
}
