h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#headerBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: burlywood;
    height: 50px;
}

#headerBar ul {
    display: flex;
    justify-content: space-evenly;
}

#headerBar li {
    list-style-type: none;
}

#headerBar a {
    text-decoration: none;
    font-size: 1.25rem;
}

#headerName {
    background-color: darkgray;
    font-size: 1.5rem;
    padding: 0 10px;
    height: 100%;
}

#headerName h1 {
    padding-top: 10px;
}

#headerNav {
    flex-grow: 2;
}

#headerLinks {
    width: 125px;
    background-color: darkseagreen;
    padding-left: 15px;
}

#headerLinks ul {
    justify-content: center;
}

#headerLinks li {
    margin-right: 15px;
}

#headerLinks img {
    margin-top: 3.4px;
    padding: 8.5px 0;
    width: 25px;
    height: 25px;
}
